.navbar-brand{
    padding: 0px;
}

.navbar button{
    color: black;
    margin: 0px 5px;
    padding: 10px 20px;
    border: none;
    background: no-repeat;
    
}

.navbar-brand{
    width: 20%;
}


